
.left-panel > div {
    cursor: pointer;
}



.hidden {
    display: none;
}

.left-panel .button-1 {
    background: url(../img/button-1-blue.png) 1px 0;
}

.content .top-shadow-sep.short {
    margin-top: 0px;
}

.content {
    padding-bottom: 40px;
}

    .content table td.in,
    .content table td.out,
    .content table td.balance {
        /*text-align: right;*/
        width: 95px;
    }

    .content table td.in {
        color: #00ab4e;
    }

    .content table td.out {
        color: #e23d27;
    }


    /*первый тр*/
    .content table tr:nth-child(1) td:nth-child(1) {
        background: url(../img/table-tr-top-shadow.png) no-repeat 50px top;
    }

    .content table tr:nth-child(1) td:nth-child(2) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -220px top;
    }

    .content table tr:nth-child(1) td:nth-child(3) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -346px top;
    }

    .content table tr:nth-child(1) td:nth-child(4) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -472px top;
    }

    .content table tr:nth-child(1) td:nth-child(5) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -584px top;
    }

    .content table tr:hover td:nth-child(1) {
        background: url(../img/table-tr-top-shadow.png) no-repeat 50px top, url(../img/table-tr-bottom-shadow.png) no-repeat 50px bottom, url(../img/table-tr-bg-left.png) repeat-y left top;
    }

    .content table tr:hover td:nth-child(2) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -220px top, url(../img/table-tr-bottom-shadow.png) no-repeat -220px bottom;
    }

    .content table tr:hover td:nth-child(3) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -346px top, url(../img/table-tr-bottom-shadow.png) no-repeat -346px bottom;
    }

    .content table tr:hover td:nth-child(4) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -472px top, url(../img/table-tr-bottom-shadow.png) no-repeat -472px bottom, url(../img/table-tr-bg-right.png) repeat-y 10px top;
    }

    .content table tr:hover td:nth-child(5) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -584px top, url(../img/table-tr-bottom-shadow.png) no-repeat -584px bottom, url(../img/table-tr-bg-right.png) repeat-y right top;
    }

.table-menu {
    position: absolute;
    /*display: none;*/
    width: 225px;
    height: 161px;
    background: url('../img/table-menu-background.png');
    z-index: 1000;
    font-family: MyriadPro;
    font-size: 20px;
    text-align: center;
}

    .table-menu div {
        cursor: pointer;
        color: #48484a;
    }

    .table-menu div:hover {
        color: #2e6a97;
    }

    .table-menu .table-menu-1 {
        width: 225px;
        height: 58px;
        line-height: 58px;
    }

    .table-menu .table-menu-2 {
        width: 225px;
        height: 44px;
        line-height: 44px;
    }

    .table-menu .table-menu-3 {
        width: 225px;
        height: 59px;
        line-height: 18px;
        padding-top: 8px;
    }

.table-help-plate {
    position: absolute;
    /*display: none;*/
    width: 370px;
    height: 50px;
    background: url('../img/help-plate.png');
    z-index: 999;
}