
.left-panel > div {
    cursor: pointer;
}


.left-panel .button-8 {
    height: 109px;
    width: 130px;
    background: url('../img/button-8-blue.png');
}

.content .choose-wallet-container {
    /*position: relative;*/
    /*margin-top: 23px;*/
    /*float: left;*/
    z-index: 5;
}

.content .choose-wallet-container,
.content .input-menu {
    margin-left: -1px;
}


.choose-wallet-container .choose-wallet,
.total-container .total {
    
    font-size: 20px;
    color: #2e6a97;
}

.choose-wallet-container .input-choose-wallet {
    
    font-size: 20px;
    width: 377px;
    height: 45px;
    border: none;
    background: url('../img/input2.png') no-repeat;
    padding-left: 20px;
    margin: 5px 2px 0 2px;
}

    .choose-wallet-container .input-choose-wallet:-moz-placeholder {
        color: #48484a;
    }

    .choose-wallet-container .input-choose-wallet::-webkit-input-placeholder {
        color: #48484a;
    }

.content .input-menu {
    
    font-size: 20px;
    position: absolute;
    margin-right: 40px;
    top: 92px;
    width: 401px;
    height: 232px;
    background: url('../img/input-menu-background.png');
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-menu .input-menu-bar {
    width: 401px;
    height: 37px;
    cursor: pointer;
}

    .input-menu .input-menu-bar:first-of-type {
        margin-top: 45px;
    }

.input-menu-bar .left-bar {
    float: left;
    padding-right: 7px;
    padding-left: 20px;
    width: 220px;
}

.input-menu-bar .right-bar {
    font-weight: bold;
    color: #2e6a97;
    margin-left: 255px;
    padding-left: 14px;
}

.content .operation-table {
    width: 720px;
    height: 495px;
    
    font-size: 16px;
    margin-top: 40px;
    background: url('../img/table-11-background.png') no-repeat;
}

.thead.tline > div {
    font-weight: normal;
    color: #231f20;
    height: 63px;
    line-height: 63px;
    text-align: left;
}

.operation-table .tline.active-line {
    background: url('../img/table-11-active-line.png') no-repeat;
}

.tline div {
    display: inline-block;
    vertical-align: middle;
    table-layout: fixed;
    line-height: 72px;
    height: 72px;
    text-align: center;
    color: #48484a;
    margin-left: -4px;
}

.tline .double-line {
    word-break: break-all;
    line-height: 18px;
    padding-top: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .input-short {
    
    font-size: 16px;
    width: 164px;
    height: 45px;
    border: none;
    background: url('../img/input-11-short.png') no-repeat;
}

.content .input-long {
    font-size: 16px;
    width: 259px;
    height: 45px;
    border: none;
    background: url('../img/input-11-long.png') no-repeat;
}

.tline:nth-of-type(2) div {
    margin-top: 0;
}

.tline .column-1 {
    width: 180px;
    margin-left: 0;
}

.tline .column-2 {
    width: 180px;
}

.tline .column-3 {
    width: 102px;
}

.tline .column-4 {
    width: 261px;
}

.table-menu {
    position: absolute;
    /*display: none;*/
    width: 223px;
    height: 142px;
    background: url('../img/table-menu-11-background.png');
    z-index: 1000;
    
    font-size: 20px;
    text-align: center;
}

    .table-menu div {
        width: 223px;
        cursor: pointer;
        color: #48484a;
    }

        .table-menu div:hover {
            color: #2e6a97;
        }

    .table-menu .table-menu-1 {
        height: 49px;
        line-height: 49px;
    }

    .table-menu .table-menu-2 {
        height: 44px;
        line-height: 44px;
    }

    .table-menu .table-menu-3 {
        height: 49px;
        line-height: 49px;
    }

.table-help-plate {
    position: absolute;
    /*display: none;*/
    width: 370px;
    height: 50px;
    background: url('../img/help-plate.png');
    z-index: 999;
}


.content table {
    margin-top: 30px;
}

    .content table td,
    .content table thead th {
        font-size: 16px;
    }
    .content table thead th{
        line-height: 16px;
        vertical-align: middle;
    }

        .content table td.date {
            min-width: 65px;
            width: 65px;
        }
        .content table td.other {
            min-width: 259px;
            width: 259px;
        }
        .content table td.name {
            min-width: 164px;
            width: 164px;
        }

        /*.content table td.number,
        .content table td.name {
            width: 130px;
            min-width: 130px;
        }*/

    /*первый тр*/
    .content table tr:nth-child(1) td:nth-child(1) {
        background: url(../img/table-tr-top-shadow.png) no-repeat 0px top;
    }

    .content table tr:nth-child(1) td:nth-child(2) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -194px top;
    }

    .content table tr:nth-child(1) td:nth-child(3) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -374px top;
    }

    .content table tr:nth-child(1) td:nth-child(4) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -474px top;
    }


    .content table tr:hover td:nth-child(1) {
        background: url(../img/table-tr-top-shadow.png) no-repeat 0px top, url(../img/table-tr-bottom-shadow.png) no-repeat 0px bottom, url(../img/table-tr-bg-left.png) repeat-y left top;
    }

    .content table tr:hover td:nth-child(2) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -194px top, url(../img/table-tr-bottom-shadow.png) no-repeat -194px bottom;
    }

    .content table tr:hover td:nth-child(3) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -374px top, url(../img/table-tr-bottom-shadow.png) no-repeat -374px bottom;
    }

    .content table tr:hover td:nth-child(4) {
        background: url(../img/table-tr-top-shadow.png) no-repeat -474px top, url(../img/table-tr-bottom-shadow.png) no-repeat -474px bottom, url(../img/table-tr-bg-right.png) repeat-y right top;
    }
